@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  background-color: ghostwhite;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.app {
  margin: 0 16px;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  text-align: center;
  height: 48px;
  padding-left: 8px;
  font-size: 18pt;
  border-bottom: solid 3px blue;
  box-sizing: border-box;
}

.panel {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: calc(99vh - 48px);
  box-sizing: border-box;

  height: calc(100% - 48px);
  flex: 1;
}

.simulation {
  grid-row: 1;
  grid-column: 1;
  position: relative;
  background-color: ghostwhite;

  height: 100%;
  width: 100%;
}

.controls {
  grid-row: 1;
  grid-column: 2;
  background-color: ghostwhite;

  width: 100%;
  min-width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0 8px;

  overflow-y: scroll;
}

.drawing-options {
  display: flex;
  flex-direction: column;
}

#world {
  width: inherit;
  height: inherit;
}