@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  background-color: ghostwhite;
}

.App {
  margin: 0 16px;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.Header {
  display: flex;
  align-items: center;
  height: 64px;
  border-bottom: solid 3px blue;
  box-sizing: border-box;
}

.Panel {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: calc(99vh - 64px);
  box-sizing: border-box;

  flex: 1;
}

.Simulation {
  grid-row: 1;
  grid-column: 1;
  position: relative;
  background-color: ghostwhite;
}

.Controls {
  grid-row: 1;
  grid-column: 2;
  background-color: ghostwhite;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: top;

  overflow-y: scroll;
}

.DrawingOptions {
  display: flex;
  flex-direction: column;
}